body {
  background-color: ;
}

nav {
  color: #413c58;
  font: "Biryani", sans-serif;
  font-weight: 200;
  background-color: #bfd7b5;
}

.navbar-brand {
  font-family: "Oooh Baby", cursive;
}

h1 {
  margin-top: 130px;
  color: #413c58;
  font-family: "Oooh Baby", cursive;
  font-size: 80px;
}
h2 {
  margin-top: 0px;
  margin-left: 100px;
  color: #a3c4bc;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

footer {
  background-color: #bfd7b5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.icons {
  padding-top: 7px;
}

.icons a {
  color: #413c58;
  font-size: 25px;
}

.icons a:hover {
  color: #eabda8;
}

#copyright {
  color: #413c58;
  font-size: 12px;
  padding-top: 17px;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.portrait {
  width: 200px;
  margin-top: 50px;
}

.about-headline {
  margin-left: 300px;
  margin-top: 50px;
}

.about-copy {
  text-align: justify;
  margin: 10px 300px 0px 300px;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.run-image {
  shape-outside: border-box;
}

#contact {
  background-color: #eabda8;
  margin: 10px 330px 50px 330px;
  border-radius: 10px;
}

.contact-headline {
  margin-left: 20px;
  margin-top: 50px;
  text-align: center;
  color: #413c58;
}

.connect-icons {
  text-align: center;
  padding: 20px;
}

.connect-icons a {
  font-size: 80px;
  color: #413c58;
}

.connect-icons a:hover {
  color: #bfd7b5;
}

.app-title {
  font-family: "Oooh Baby", cursive;
  font-weight: 200;
  margin-top: 30px;
}

.app-image {
  max-width: 350px;
  border: 1px solid #413c58;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.app-copy {
  max-width: 350px;
  text-align: justify;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.app-button {
  text-align: center;
  background-color: #eabda8;
  border-radius: 30px;
  border: none;
  color: black;
  padding: 10px;
  font: "Biryani", sans-serif;
  font-weight: 200;
  margin-left: 95px;
  margin-bottom: 50px;
}
