body {
  background-color: #e7efc5;
}

nav {
  color: #413c58;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.navbar-brand {
  font-family: "Oooh Baby", cursive;
}

footer {
  background-color: #bfd7b5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.icons {
  color: #413c58;
  font-size: 25px;
  padding-top: 7px;
  margin-right: -1600px;
}

.icons:hover {
  color: #eabda8;
}

#copyright {
  color: #413c58;
  font-size: 12px;
  padding-top: 17px;
  margin-left: -80px;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.app-title {
  font-family: "Oooh Baby", cursive;
  font-weight: 200;
  margin-top: 30px;
}

.app-image {
  max-width: 350px;
  border: 1px solid #413c58;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.app-copy {
  max-width: 350px;
  text-align: justify;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.app-button {
  text-align: center;
  background-color: #eabda8;
  border-radius: 30px;
  border: none;
  color: black;
  padding: 10px;
  font: "Biryani", sans-serif;
  font-weight: 200;
  margin-left: 95px;
  margin-bottom: 50px;
}
