body {
  background-color: #e7efc5;
}

nav {
  color: #413c58;
  font: "Biryani", sans-serif;
  font-weight: 200;
  position: fixed;
}

.navbar-brand {
  font-family: "Oooh Baby", cursive;
}

h1 {
  font-family: "Oooh Baby", cursive;
  color: #413c58;
}

h2 {
  font-family: "Oooh Baby", cursive;
}

footer {
  background-color: #bfd7b5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.icons {
  padding-top: 7px;
  margin-left: 1180px;
}

.icons a {
  color: #413c58;
  font-size: 25px;
}

.icons a:hover {
  color: #eabda8;
}

#copyright {
  color: #413c58;
  font-size: 12px;
  padding-top: 17px;
  margin-left: -80px;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

.about-headline {
  margin-left: 300px;
  margin-top: 50px;
}

.about-copy {
  text-align: justify;
  margin: 10px 300px 0px 300px;
  font: "Biryani", sans-serif;
  font-weight: 200;
}

#contact {
  background-color: #eabda8;
  margin: 10px 330px 50px 330px;
  border-radius: 10px;
}

.contact-headline {
  margin-left: 20px;
  margin-top: 50px;
  text-align: center;
  color: #413c58;
}

.connect-icons {
  text-align: center;
  padding: 20px;
}

.connect-icons a {
  font-size: 80px;
  color: #413c58;
}

.connect-icons a:hover {
  color: #bfd7b5;
}
